@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Josefin+Sans:wght@500&family=Share+Tech+Mono&display=swap');

:root {
	--accent-color-1: #f45825;
	--text-color: white;
	--accent-color-2: black;
	--main-color: #f37f35;
	--background-color-navbar: #000;
	--background-color-interactable: #022911;
	--background-color-main: #111;
	--shadow-color: #000e;
}
/* Mobile css */
@media only screen and (max-aspect-ratio: 16/10) {
	:root {
		--card-size: 80vw;
	}
	.navbar > img {
		height: 10svw;
	}
	.navbar {
		height: 10svw;
		font-size: 2em;
	}
	.project_item > img {
		width: 128px;
	}
	#projects {
		display: flex;
		flex-flow: column;
	}
	#projects > .selector_btns {
		flex-flow: row;
		transition: 0.5s;
	}
	#projects > .selected {
		flex-flow: column !important;
	}
}

/* Desktop css */
@media only screen and (min-aspect-ratio: 16/10) {
	:root {
		font-size: 1.3em;
		--card-size: 20vw;
	}
	.project_item > img {
		width: 256px;
	}
	.navbar > img {
		height: 5svh;
	}
	.navbar {
		height: 5svh;
	}
	#projects > .selector_btns {
		flex-flow: column;
	}
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	margin: 0;
	display: flex;
	flex-flow: column;
}

.page {
	height: 100svh;
	display: flex;
	flex-flow: column;
}

.navbar,
.navbar_buttons {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.navbar img {
	padding: 5px;
	transition: 0.8s;
	animation: 3s ease-in 1s infinite spin;
}

.navbar img:hover {
	filter: invert(1);
}

.navbar {
	justify-content: space-between;
	width: 100%;
	background-color: var(--background-color-navbar);
	position: fixed;
	z-index: 1000;
	top: 0;
}

.navbar_buttons a {
	margin-left: 3svw;
	margin-right: 3svw;
	text-decoration: none;
	color: var(--text-color);
	text-align: center;
	border-style: solid;
	border-color: var(--accent-color-1);
	border-width: 0 0 4px 0;
	transition-property: color, background-position, border-radius;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	background-size: 200% 200%;
	background-image: linear-gradient(
		to top,
		var(--accent-color-1) 50%,
		rgba(0, 0, 0, 0) 0
	);
	background-position: top;
}

.navbar_buttons a:hover {
	color: var(--accent-color-2);
	border-radius: 10px;
	background-position: bottom;
}

.heading {
	font-family: 'Share Tech Mono', monospace;
}

/* Landing Page CSS */

#landing_page {
	display: flex;
	background-color: #0000;
	height: 100vh;
	flex-flow: column;
}

.landing {
	width: 100%;
	display: grid;
	flex-flow: column;
	height: 100%;
	align-items: center;
	justify-content: center;
	grid-template-columns: 100% ;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0, 0, 0,0.5) 20%, rgba(150,152,166,0) 50%, rgba(0, 0, 0 ,0.5) 80%, rgba(0,0,0,0.6) 100%); 
}

.motto {
	font-size: 2rem;
	font-family: 'Josefin Sans', sans-serif;
}

.landing > .heading {
	font-size: 3.5em;
	font-weight: bolder;
	color: var(--main-color);
	text-shadow: 0 0 13px rgba(0,0,0,0.6);
	align-self: baseline;
	padding: 40px;
}

.cta {
	display: flex;
	flex-flow: column;
	width: 25%;
	font-size: 2rem;
	justify-self: last baseline;
	color: whitesmoke;
	text-align: center;
}

.cta > a {
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
	text-align: left;
	border-style: solid;
	border-color: white;
	padding: 10px;
	border-width: 0px 0px 0px 4px;
	transition-property: color, background-position;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	background-size: 200% 200%;
	background-image: linear-gradient(
		to right,
		var(--accent-color-1) 50%,
		rgba(0, 0, 0, 0) 0
	);
	background-position: right;
	font-family: 'IBM Plex Mono', monospace;
}

.cta > a:hover {
	color: var(--accent-color-2);
	background-position: left;
}

.landing > div {
	transition: 0.8s;
}

.landing > .motto {
	font-size: 1.5em;
	font-weight: bold;
	color: var(--accent-color-1);
}
/* ==========About=========*/
.page {
	background-color: #fff2;
	grid-template-rows: 1fr 19fr;
	grid-template-columns: 1fr 8fr 1fr;
	display: grid;
	padding: 5svh 0 0 0;
	height: 100svh;
	width: 100svw;
}

.page > .heading {
	font-size: 4em;
	width: 100%;
	border-width: 0px 0px 10px 0px;
	border-style: solid;
	border-color: var(--accent-color-2);
	color: var(--main-color);
}

.page > .content {
	margin: auto;
	padding: 10px;
	text-align: center;
	font-size: 2em;
	display: flex;
	flex-flow: column;
	height: 80svh;
	width: 100%;
	position: relative;
	color: var(--accent-color-1);
}

.page > .btn {
	grid-row: 1 / span 2;
	border-style: none;
	font-size: 5em;
	background-color: #0000;
	color: #fff;
}
.page > .btn:nth-child(even) {
	grid-column: 3;
}
.page > .btn:nth-child(odd) {
	grid-column: 1;
}

.page > .heading {
	width: 100%;
	text-align: center;
}

/* ==========Gallery=========*/

.page > .content > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.8s;
}

.page > .content > span {
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	background: color-mix(
		in srgb,
		var(--background-color-main),
		rgba(0, 0, 0, 0.2)
	);
	border-width: 10px 0px 0px 0px;
	border-color: var(--accent-color-1);
	border-style: solid;
	left: 0;
}

.page > .content > .caption_title {
	top: 8px;
	bottom: auto;
	border-width: 0px 0px 10px 0px;
}

#team {
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	overflow-y: scroll;
}

#team > .content {
	grid-template-columns: auto;
}

.card {
	display: flex;
	position: relative;
	aspect-ratio: 0.8;
	height: 100%;
}

.card > .card_info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	padding: 0 20px 0 20px;
	justify-content: center;
	font-size: 0.5em;
}

.card_info > div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}

.card > .card_photo {
	width: 100%;
	height: 100%;
	align-self: center;
}

.card > .card_name {
}

.card {
	width: fit-content;
	height: fit-content;
}

.hidden {
	opacity: 0;
	height: 0;
	transform: translateX(-100vh);
}

.card > .card_photo {
	max-width: var(--card-size);
	max-height: var(--card-size);
}

.faculty_section {
	width: 100%;
	display: flex;
	flex-flow: column;
	flex-shrink: 0;
	height: 100%;
	column-gap: 10px;
	transition: 1s;
}

.faculty_section > .cards {
	justify-content: center;
	align-items: center;
}

.faculty_section > .title {
	width: 100%;
	flex-shrink: 0;
}

.cards {
	column-gap: 10px;
	display: flex;
	flex-flow: row-reverse;
	overflow-x: auto;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#contact {
	display: flex;
	flex-flow: column;
}

#background {
	width: 100%;
	height: 100%;
	z-index: -1000;
	position: fixed;
	background-color: white;
}

#projects {
	display: block;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0,0.3) 20%, rgba(0, 0, 0, 0.6)  50%, rgba(0, 0, 0 ,0.3) 80%, rgba(0,0,0,0) 100%); 
}

#projects > .heading {
	grid-row: 1;
	grid-column: 1 / span 2;
}

#projects > .selector_btns {
	display: flex;
	justify-content: space-between;
}
#projects > .selected {
	grid-column: 1 / span 2;
}

#projects > .selector_btns > button {
	height: 100%;
	background-color: #0000;
	color: var(--accent-color-2);
	border-radius: 40px;
	padding: 15px;
	margin: 15px;
	font-size: 3rem;
}

#projects > .content {
	display: flex;
}
#projects > .content > .project_list {
	flex-flow: column;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100%;
}

#projects > .content > .projects_list > .project_item {
	border-radius: 30px;
	margin: 30px;
	background-color: var(--background-color-main);
	display: grid;
	grid-template: auto auto / auto auto;
	transition: transform 0.5s;
}

 .project_name {
	font-family: 'Share Tech Mono', monospace;
 }

 .projets_desc {
	font-family: 'IBM Plex Mono', monospace;
 }

#projects > .content > .projects_list > .project_item:hover {
	transform: scale(1.1);
}

#projects > .content {
	overflow-y: scroll;
}

.project_item > img {
	grid-column: 1;
	grid-row: 1 / span 2;
	border-radius: 20px;
}

#about {
	display: grid;
	grid-template: auto auto / auto auto;
}

#about > .heading {
	grid-column: 1 / span 2;
}

#about > .selector_btns {
	grid-column: 1;
	grid-row: 2;
	display: flex;
	flex-flow: column;
	height: 100%;
}


button {
	height: 100%;
	background: var(--background-color-main);
	color: var(--accent-color-1);
	border: none;
	text-decoration: underline;
	text-decoration-color: var(--accent-color-2);
	font-size: 2em;
	transition: 0.5s;
}

.button_selected {
	background-color: var(--main-color) !important;
	color: var(--accent-color-2) !important;
	font-weight: bold;
}

#about > .content {
	transition: 0.5s;
	background-size: 200% 200%;
	background-image: linear-gradient(
		to top,
		var(--accent-color-1) 50%,
		rgba(0, 0, 0, 0) 0
	);
	background-position: top;
	overflow-y: scroll;
	justify-content: space-around;
	text-shadow: 0 0 10px white;
}

#about > .hidden {
	width: 100%;
	height: 80svh;
	transform: none;
	background-position: bottom;
}
ul {
	list-style-type: none;
}

li {
	border-width: 0 0 10px 0;
	border-style: solid;
	border-color: var(--accent-color-1);
	margin-top: 30px;
}

#gallery {
	display: flex;
	flex-flow: column;
}
#photos {
	/* Prevent vertical gaps */
	line-height: 0;
	overflow-y: scroll;
	position:relative;
	z-index:1;
	-webkit-column-count: 6;
	-webkit-column-gap:   0px;
	-moz-column-count:    6;
	-moz-column-gap:      0px;
	column-count:         6;
	column-gap:           0px;
}

#photos img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	border-radius: 20px;
	padding: 10px;
}

@media (max-width: 1200px) {
	#photos {
		-moz-column-count:    4;
		-webkit-column-count: 4;
		column-count:         4;
	}
	.members_list {
		grid-template-columns: auto auto auto;
	}
}
@media (max-width: 1000px) {
	#photos {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
	.members_list {
		grid-template-columns: auto auto;
	}
}
@media (max-width: 800px) {
	#photos {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
	.members_list {
		grid-template-columns: auto auto;
	}
}
@media (max-width: 400px) {
	#photos {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
	.members_list {
		grid-template-columns: auto;
	}
}

@media (min-width: 1200px) {
	.members_list {
		grid-template-columns: auto auto auto auto;
	}
}

.members_list {
	display: grid;
}

#team > .selector_btns {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.selector_btns > button {
	width: 100%;
}

.project_member > img {
	width: 400px;
	border-radius: 20px;
}

.project_member {
	position: relative;
	text-align: center;
	margin: auto;
	transition: 0.5s;
}

.member_info {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.5em;
	background: rgba(0.3, 0.3, 0.3, 0.0);
	width: 90%;
	display: flex;
	flex-flow: column;
	transition-property: top, height, background;
	transition-duration: 0.5s;
}

.project_member:hover > .member_info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.5em;
	background: rgba(0.3, 0.3, 0.3, 0.4);
	width: 90%;
	display: flex;
	flex-flow: column;
}

.project_member:hover > .member_info > .member_name > .label {
	width: 100%;
	opacity: 1;
}

.project_member:hover > .member_info > div {
	width: 100% !important; 
	height: 100%;
	opacity: 1;
	color: white
}
.member_info > div {
	display: flex;
	flex-flow: row;
	width: 100%;
	justify-content: center;
	width: 0;
	height: 0;
	opacity: 0;
	transition-property: width, height, opacity;
	transition-duration: 0.5s;
} 

.member_info > .member_name {
	width: 100%;
	background: rgba(0.3, 0.3, 0.3, 0.8);
	height: fit-content;
	opacity: 1;
}

.member_info > .member_name > .label {
	width: 0;
	opacity: 0;
	transition-property: width, opacity;
	transition-duration: 0.5s;
}

.member_info > div > div {
	width: 80%;
	word-wrap: normal;
}

.label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.project_desc {
	font-size: 1rem;
	padding: 20px;
}

.project_name {
	font-size: 2rem;
}

.faculty_selected > .members_list {
	grid-template-columns: auto;
}

.cta > a > button {
	background: none;
}

@keyframes spin {
	0% {
		rotate: y 0deg;
	}
	50% {
		rotate: y 180deg;
	}
	100% {
		rotate: y 0deg;
	}
}

#register > img {
	animation: 3s ease-in-out 1s infinite spin;
	height: 100%;
	scale: 0.8;
}

#register {
	grid-template: auto auto / 2fr 1fr;
}

#register > .heading {
	grid-row: 1;
	grid-column: 1 / span 2;
}

#register > form {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	padding-right: 20px;
}

#register > form > input {
	border-width: 0px 0px 10px 0px;
	border-color: var(--accent-color-1);
	font-size: 2em;
	outline: 0;
	background: none;
	transition: border-color 1s;
}

#register > form > input:focus {
	border-color: var(--accent-color-2);
}

#register > form > button {
	height: unset;
}
